{:paths ["src" "resources"]
 :deps  {org.clojure/clojure            {:mvn/version "1.12.0"}
         com.kroo/epilogue              {:mvn/version "0.6"}
         ;; Use Logback-classic as the logging backend.
         ch.qos.logback/logback-classic {:mvn/version "1.5.11"}
         com.kroo/typeset.logback       {:mvn/version "0.7"}
         ;; Add SLF4J logging bridges to make logs from other logging libraries go via SLF4J.
         org.slf4j/jul-to-slf4j         {:mvn/version "2.0.16"}
         org.slf4j/jcl-over-slf4j       {:mvn/version "2.0.16"}
         org.slf4j/log4j-over-slf4j     {:mvn/version "2.0.16"}}}
